//extends pages/404.pug

mixin nav
        // ########################## Begin header nav  ##########################
		header.header
			h1.logo Logo
			nav
				ul
					li
						a(href="index.html") Home
					li
						a(href="#") Buy
					li
						a(href="#") Sell
					li
						a(href="#") Produtos
					li
						a(href="#") Sobre nós
					li
						a(href="#") Contato
		// ########################## End Header nav  ##########################