extends navbar.pug

block hours
    // ########################## Begin of the Hours section - 2 Section ##########################
    section.features
      .container
        h1.title-1 Malima's Car - HOURS OF OPERATION
        hr
        .feature.panel
          div
            h2 SALES
          div
            dl
              dt.dt-hours.float-left monday
              dd.dt-hours.float-right.pdlft32 9:00 AM - 9:00 PM
              dt.dt-hours.float-left tuesday
              dd.dt-hours.float-right 9:00 AM - 9:00 PM
              dt.dt-hours.float-left wednesday
              dd.dt-hours.float-right 9:00 AM - 6:00 PM
              dt.dt-hours.float-left thursday
              dd.dt-hours.float-right.pdlft50 9:00 AM - 6:00 PM
              dt.dt-hours.float-left.pdlft15 friday
              dd.dt-hours.float-right 9:00 AM - 6:00 PM
              dt.dt-hours.float-left.pdlft15 saturday
              dd.dt-hours.float-right.pdlft12 9:00 AM - 6:00 PM
              dt.dt-hours.float-left sunday
              dd.dt-hours.float-right.pdlft72 closed
        .feature.panel
          div
            h2 SERVICE
          div
            dl
              dt.dt-hours.float-left monday
              dd.dt-hours.float-right.pdlft32 9:00 AM - 6:00 PM
              dt.dt-hours.float-left tuesday
              dd.dt-hours.float-right 9:00 AM - 6:00 PM
              dt.dt-hours.float-left wednesday
              dd.dt-hours.float-right 9:00 AM - 6:00 PM
              dt.dt-hours.float-left thursday
              dd.dt-hours.float-right.pdlft50 9:00 AM - 6:00 PM
              dt.dt-hours.float-left.pdlft15 friday
              dd.dt-hours.float-right 9:00 AM - 6:00 PM
              dt.dt-hours.float-left.pdlft15 saturday
              dd.dt-hours.float-right.pdlft12 9:00 AM - 2:00 PM
              dt.dt-hours.float-left sunday
              dd.dt-hours.float-right.pdlft72 closed
        .feature.panel
          div
            h2 PARTS
          div
            dl
              dt.dt-hours.float-left monday
              dd.dt-hours.float-right.pdlft32 9:00 AM - 5:00 PM
              dt.dt-hours.float-left tuesday
              dd.dt-hours.float-right 9:00 AM - 5:00 PM
              dt.dt-hours.float-left wednesday
              dd.dt-hours.float-right 9:00 AM - 5:00 PM
              dt.dt-hours.float-left thursday
              dd.dt-hours.float-right.pdlft50 9:00 AM - 5:00 PM
              dt.dt-hours.float-left.pdlft15 friday
              dd.dt-hours.float-right 9:00 AM - 5:00 PM
              dt.dt-hours.float-left.pdlft15 saturday
              dd.dt-hours.float-right.pdlft12 9:00 AM - 2:00 PM
              dt.dt-hours.float-left sunday
              dd.dt-hours.float-right.pdlft72 closed
    // ########################## End of the HOURS section - 2 Section ##########################