extends layout.pug

block navbar
    block hours
    
    .highlight(style='background: url(/img/highlight.jpg)  fixed no-repeat center -50px; height: 700px;')
      .align-left-tx
        h1 | Um frase bela |
        h5 AUTO 330e iPERFORMANCE
        span MODEL 2017
        span.pricelog 99,000
        p
        a.btn(href='#') Compre agora
    
   
    // ########################## Begin of the FIRST footer  ##########################
    footer.footer(style='background:#292c2f;color: #f5f3f3; box-sizing: border-box;')
      // The content of your page would go here.
      footer.footer-distributed
        .footer-left
          h3
            span
              a.logo2(href='index.html')
                img(src='img/logo2.png', alt='')
                h6(style=" width: 10px; font-family: 'Cabin Sketch', cursive; color: #4c8a19;") Malima's
          p.footer-links
            a(href='index.html') Home
            | 								·
            a(href='erro404.html') Buy
            | 								·
            a(href='erro404.html') Sell
            | 								·
            a(href='erro404.html') products
            | 								·
            a(href='erro404.html') About Us
            | 								·
            a(href='erro404.html') Contact
          p.footer-company-name © 2018 Designed & Powered by Hugo Lima
        .footer-center
          div
            i.fa.fa-map-marker
            p
              span 3 Donald Street
              |  Winnipeg, MB Canada
          div
            i.fa.fa-phone
            p +1 204 952-8774
          div
            i.fa.fa-envelope
            p
              a(href='mailto:hlawerd@gmail.com') support@malimacar.ca
        .footer-right
          p.footer-company-about
            span About the company
            | 								Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
          .footer-icons
            a(href='#')
              i.fa.fa-facebook
            a(href='#')
              i.fa.fa-twitter
            a(href='#')
              i.fa.fa-linkedin
            a(href='#')
              i.fa.fa-github
    // ########################## End of the FIRST footer  ##########################