<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Malima Car - Automotive Company</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- by icon -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'> <!-- by fonts -->
	<link href="https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700|Caveat:400,700|Fredericka+the+Great|Great+Vibes|Lemonada:300,400,600,700" rel="stylesheet">
	<!-- font-family: 'Great Vibes', cursive; ##OR## font-family: 'Caveat', cursive; font-family: 'Cabin Sketch', cursive; ##OR## font-family: 'Fredericka the Great', cursive; ##OR## font-family: 'Lemonada', cursive; -->
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/mobile.css">
	<link rel="stylesheet" href="css/style-icon.css">
	<link rel="stylesheet" href="css/style-form.css">
	<link rel="stylesheet" href="css/style-range.css">
	<link rel="stylesheet" href="css/style-carosel.css">
	<link rel="stylesheet" href="css/style-ftdeveloper.css">
	<link rel="stylesheet" href="css/footer-distributed-with-address-and-phones.css">
</head>
<body>
	<!--########################## Begin header nav  ##########################-->
	<header class="header">
		<h1 class="logo">Logo</h1>
		<nav>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="erro404.html">Buy</a></li>
				<li><a href="erro404.html">Sell</a></li>
				<li><a href="erro404.html">Produtos</a></li>
				<li><a href="aboutus.htl">Sobre nós</a></li>
				<li><a href="erro404.html">Contato</a></li>
			</ul>
		</nav>
	</header>
	<!--########################## End Header nav  ##########################-->

	<!--########################## aqui precisa de uma corrosel   ##########################-->
	
	
	<div class="highlight" style="background-image: url(img/highlight.jpg)">
		<div class="mySlides fade">

			<div class="carrosel-numbertext">
					<span class="carrosel-span">FIND YOUR DREAM CAR</span>
					<div class="carrosel-div1">A NEW ERA OF LUXURY</div>
					<div class="carrosel-div2">MODEL 2018 <span>$122,111</span> </div>
					<div class="txt4"><a href="#">See detail</a></div>
			</div>
			
			<!-- <img src="img/highlight.jpg" style="background-size: cover;width:100%, background-repeat:no-repeat;background-attachment: fixed; background-position: center;" alt="img1.jpg">  -->
		</div>
		<div class="mySlides fade">

				<div class="carrosel-numbertext">
						<span class="carrosel-span">FIND YOUR DREAM CAR</span>
						<div class="carrosel-div1">novas informacoes AQUI</div>
						<div class="carrosel-div2">MODEL 2017 <span>$65,000</span> </div>
						<div class="txt4"> <a href="#">See detail</a> </div>
				</div>
			 	<!-- <img src="img/slide03.jpg" style="width:100%" alt="img1.jpg">  -->
			</div>
		<a class="prev" onclick="plusSlides(-1)" style="left: -10px;">&#10094;</a>
		<a class="next" onclick="plusSlides(1)">&#10095;</a>
	</div>
	<!--########################## end the Carrosel  ##########################-->

	<!--########################## Begin of the SEARCH section - 1 Section ##########################-->

	<section class="search-section"><!--desenvolver a classe css -->
		
				<div>
						<form action="list.html">
								<div class="select1_wrapper">

									<div>
											<select class="search-select-form" tabindex="-1" aria-hidden="true">
													<option value="1">Any Make</option>
													<option value="2">Agfa Toreno</option>
													<option value="3">Astin Barton</option>
													<option value="4">Avdi</option>
													<option value="5">Bunesley</option>
													<option value="6">BNQ</option>
													<option value="7">Baratti</option>
											</select>
											<select class="search-select-form marge-lft" tabindex="-1" aria-hidden="true">
													<option value="1">Any Model</option>
													<option value="2">Model 1</option>
													<option value="3">Model 2</option>
													<option value="4">Model 3</option>
													<option value="5">Model 4</option>
													<option value="6">Model 5</option>
													<option value="7">Model 6</option>
											</select>
											<select class="search-select-form marge-lft" tabindex="-1" aria-hidden="true">
													<option value="1">Vehicle Status</option>
													<option value="2">Status 1</option>
													<option value="3">Status 2</option>
													<option value="4">Status 3</option>
													<option value="5">Status 4</option>
													<option value="6">Status 5</option>
													<option value="7">Status 6</option>
											</select>
											<select class="search-select-form marge-lft" tabindex="-1" aria-hidden="true">
													<option value="1">Max Year</option>
													<option value="2">2018</option>
													<option value="3">2017</option>
													<option value="4">2016</option>
													<option value="5">2015</option>
													<option value="6">2014</option>
													<option value="7">2013</option>
											</select>
											<select class="search-select-form marge-lft" tabindex="-1" aria-hidden="true">
													<option value="1">Min Year</option>
													<option value="2">2018</option>
													<option value="3">2017</option>
													<option value="4">2016</option>
													<option value="5">2015</option>
													<option value="6">2014</option>
													<option value="7">2013</option>
											</select>
									</div>
									<a href="#" class="more" style="margin-left: 3.5em;">MISSING MANUFACTURER?</a>
									<a href="#" class="more" style="margin-left: 7em;">MISSING MODEL?</a>
									<a href="#" class="more" style="margin-left: 12em;">E.G:  NEW, USED, CERTIFIED</a>						
									
								</div>
								<div style="display: flex; height: 52px;  "><!--  border: 5px solid #a0ee0f;cd -->
										<div class="txt" style=" margin-left: 69px; font-size: 14px; font-weight: 700; color: gray; margin-top: 14px;">PRICE RANGE</div>
										<!-- <div class="slidecontainer" style="background-color: blueviolet;">
												<input type="range" min="1.00" max="100.00" value="50.00" class="slider" id="myRange">
												<p>Value: <span id="demo"></span></p> precisa rever esse passo aqui
										</div> -->
										<div>
												
												<input type="text" id="amount" readonly="" placeholder="Minimun" style="margin-left: 45px; margin-top: 4px;">
												<input type="text" id="amount2" readonly="" placeholder="Maximum">
										</div>
										<div style=" border: 5px;"> <!--background-color: rgb(139, 34, 34);  -->
												<span class="adv-serach" style="color: #406d80;	text-decoration: none;text-transform: uppercase;
												font-size: 10px; "><a style="text-decoration: none;margin-right: 15px;" href="#">ADVANCED SEARCH</a></span>

												<button class="btn" type="submit" style="display: inline-flex; text-decoration: none;font-size: 14px;line-height: 40px;
												padding: 0 60px 0 25px;text-transform: uppercase;letter-spacing: 1px; background: #2e393f; position: relative; border: 1px solid #1c2931;" >Submit</button>
										</div>
								</div>
								
						</form>
				</div>
				
		</div>

	</section>

	<!--########################## Begin of the Hours section - 2 Section ##########################-->
	<section class="features feauture-bg">
			<div class="container">
				<h1 class="title-1">Malima's Car - HOURS OF OPERATION</h1>
				<hr>
				<div class="feature panel">
					<div><h2>SALES</h2></div>
					<div>
							<dl>
									<dt class="dt-hours float-left">monday</dt>
									<dd class="dt-hours float-right pdlft32">9:00 AM - 9:00 PM</dd>
									<dt class="dt-hours float-left">tuesday</dt>
									<dd class="dt-hours float-right">9:00 AM - 9:00 PM</dd>
									<dt class="dt-hours float-left">wednesday</dt>
									<dd class="dt-hours float-right">9:00 AM - 6:00 PM</dd>
									<dt class="dt-hours float-left">thursday</dt>
									<dd class="dt-hours float-right pdlft50">9:00 AM - 6:00 PM</dd>
									<dt class="dt-hours float-left pdlft15">friday</dt>
									<dd class="dt-hours float-right">9:00 AM - 6:00 PM</dd>
									<dt class="dt-hours float-left pdlft15">saturday</dt>
									<dd class="dt-hours float-right pdlft12">9:00 AM - 6:00 PM</dd>
									<dt class="dt-hours float-left">sunday</dt>
									<dd class="dt-hours float-right pdlft72">closed</dd>									
							</dl>
					</div>
				</div>
				<div class="feature panel">
					<div><h2>SERVICE</h2></div>
					<div>
							<dl>
									<dt class="dt-hours float-left">monday</dt>
									<dd class="dt-hours float-right pdlft32">9:00 AM - 6:00 PM</dd>
									<dt class="dt-hours float-left">tuesday</dt>
									<dd class="dt-hours float-right">9:00 AM - 6:00 PM</dd>
									<dt class="dt-hours float-left">wednesday</dt>
									<dd class="dt-hours float-right">9:00 AM - 6:00 PM</dd>
									<dt class="dt-hours float-left">thursday</dt>
									<dd class="dt-hours float-right pdlft50">9:00 AM - 6:00 PM</dd>
									<dt class="dt-hours float-left pdlft15">friday</dt>
									<dd class="dt-hours float-right">9:00 AM - 6:00 PM</dd>
									<dt class="dt-hours float-left pdlft15">saturday</dt>
									<dd class="dt-hours float-right pdlft12">9:00 AM - 2:00 PM</dd>
									<dt class="dt-hours float-left">sunday</dt>
									<dd class="dt-hours float-right pdlft72">closed</dd>
							</dl>
					</div>
				</div>
				<div class="feature panel">
						<div><h2>PARTS</h2></div>
						<div>
								<dl>
										<dt class="dt-hours float-left">monday</dt>
										<dd class="dt-hours float-right pdlft32">9:00 AM - 5:00 PM</dd>
										<dt class="dt-hours float-left">tuesday</dt>
										<dd class="dt-hours float-right">9:00 AM - 5:00 PM</dd>
										<dt class="dt-hours float-left">wednesday</dt>
										<dd class="dt-hours float-right">9:00 AM - 5:00 PM</dd>
										<dt class="dt-hours float-left">thursday</dt>
										<dd class="dt-hours float-right pdlft50">9:00 AM - 5:00 PM</dd>
										<dt class="dt-hours float-left pdlft15">friday</dt>
										<dd class="dt-hours float-right">9:00 AM - 5:00 PM</dd>
										<dt class="dt-hours float-left pdlft15">saturday</dt>
										<dd class="dt-hours float-right pdlft12">9:00 AM - 2:00 PM</dd>
										<dt class="dt-hours float-left">sunday</dt>
										<dd class="dt-hours float-right pdlft72">closed</dd>
								</dl>
						</div>
						
				</div> 
			</div>
	</section>
	<!--########################## End of the HOURS section - 2 Section ##########################-->
	
	<!--########################## Begin of the FEATURES Section  - 3 section ##########################-->
	<section class="features">
		<div class="container">
		

		<h1 class="title-1">The <strong>Malima's Car</strong> Commitments</h1>
		<hr>
		<div class="feature">
			<h2>Lifetime Powertrain Coverage</h2>
			<p>
			   <img src="img/4-wheel.png" alt="4-wheel Image" class="left-img">
			   We’ll cover the vehicle’s powertrain for life. Simply do the recommended maintenance with us and we’ll stand behind the 
			   products that we sell.</p>
			<a href="erro404.html" class="btn"><span>Read me Now</span></a>
		</div>
		<div class="feature">
			<h2>Largest Inventory on the Prairies</h2>
			<p>
				<img src="img/icon-group-inventory.png" alt="Inventory Image" class="left-img">
				Driving Change Automotive Group provides you access to the largest selection of vehicles in all of the prairies. 
				If we have what you want at another location, we’ll bring it in for you!
			</p>
			<a href="erro404.html" class="btn"><span>Read me Now</span></a>
		</div>
		<div class="feature">
			<h2>30-Day Exchange Policy</h2>
			<p>
				<img src="img/exchenge.png" alt="exchenge Image"   class="left-img">
			   	If you suddenly find yourself pining for the other model you left behind at our dealership, you’re not out of luck, 
			   	we allow for vehicle exchanges within 30 days of purchase (for Pre-owned vehicles only).
			</p>
			<a href="erro404.html" class="btn"><span>Read me Now</span></a>
		</div>
		<div class="feature">
			<h2>No Admin Fees</h2>
			<p>
				<img src="img/money.png" alt="Money Image"   class="left-img">
				The paperwork should be our obligation, not yours. That’s why we’ll never surprise you with admin fees after you’ve 
			   	already committed to purchase one of our vehicles.
			</p>
			<a href="erro404.html" class="btn"><span>Read me Now</span></a>
		</div>
		<div class="feature">
			<h2>Full Inspections & Reconditionning</h2>
			<p><img src="img/clipboard.jpg" alt="Clipboard image"  class="left-img">
			   Our used vehicles are fully inspected and reconditioned so you can drive away with the peace of mind knowing you’re 
			   in a safe, reliable, and quality vehicle</p>
			<a href="erro404.html" class="btn"><span>Read me Now</span></a>
		</div>
		<div class="feature">
			<h2>Greater Used Vehicle Options</h2>
			<p>
				<img src="img/minivan.png" alt="Car Image" class="left-img">
				We don’t sell only Fords. In our Used Vehicle Inventory, we sell cars and trucks from nearly a dozen other 
				leading manufacturers.
			</p>
			<a href="erro404.html" class="btn"><span>Read me Now</span></a>
		</div>

		</div>
	</section>
	<!--##########################  End of the FEATURES Section  - 3 Section ##########################-->

	<!--########################## Begin of the MORE-LINKS Section - 4 Section ##########################-->
	<section class="more-links">
	<div class="container">
		<h1 class="title-1">New Vehicle Department – Malima's Car Toyota</h1>
		<p>
			Visit our Winnipeg <a href="erro404.html"><strong>Malima's Car Showroom</strong></a> to find specifications and pricing information for any of our new models, or browse through our 
			<a href="erro404.html">New Vehicle Inventory</a> to see our current selection of Toyota vehicles. One of the reasons we have become the choice of Winnipeg 
			Toyota dealers is because we provide our customers with the best selection of new vehicles.
		</p>

		<div class="more-info">
			<figure>
				<img src="img/2017-corolla-card.jpg" alt="Toyota corolla Image">
			</figure>
			<h1>2018 Toyota Corolla</h1><strong>
			<p><strong>Reliability and excellent fuel economy have always come together with the Toyota Corolla, and the 2018 model is no different. Not only does the Corolla offer a highway fuel economy of 6.6L/100km (or approximately 42 miles per gallon), but the Corolla S (Sport) gives you a whole new look that highlights the fun-to-drive attitude of the model.</strong></p>
			<a href="erro404.html" class="more-lnk">Learn more about the Corolla at our Winnipeg car dealership.</a>
		</div>
		<div class="more-info">
			<figure>
				<img src="img/2016-camry-mcphillips-toyota-winnipeg-mb.jpg" alt="Toyota Camry Image">
			</figure>
			<h1>2018 Toyota Camry</h1>
			<p><strong>The new 2018 Toyota Camry brings you a new generation of sport and luxury with an available torque of 267rpm with its 3.5L V6 engine while the available Camry hybrid provides you an astounding fuel economy of 4.9L/100km combined. Recently a Consumer Reports Top Pick for Family Sedan, the new Camry is more than just a great family vehicle.</strong></p>
			<a href="erro404.html" class="more-lnk">Learn more about the new Camry online.</a>
		</div>
	</div>
	</section>
	<!--##########################  End of the MORE-LINKS Section - 4 Section   ##########################-->


	<!--########################## Begin of the OFFER Section - 5 Section  ##########################-->
	<section class="offer">
		<div class="container">
			<img src="img/serviceImage.jpg" alt="Service's Image ">
			<div class="text">
				<h1>Malima's Car Vehicle Service Centre</h1>
				<p> Trust <strong>Malima's Car</strong> Vehicle Service Center for professional quality maintenance and repair services. 
					Our team of <strong>Malima's Car</strong> Mechanics have received the latest industry training, and our lead technicians have many 
					years of experience working on vehicles. We also carry a wide selection of <strong>Malima's Car</strong> parts and accessories 
					that you can find at our Parts Department</p>
			</div>
		</div>
	</section>
	<!--##########################  End of the OFFER Section - 5 Section ##########################-->

	<!--########################## Begin of the FIRST footer  ##########################-->
	<footer class="footer" style="background:#292c2f;color: #f5f3f3; box-sizing: border-box;">
		
				<!-- The content of your page would go here. -->

				<footer class="footer-distributed">

						<div class="footer-left">
			
							<h3>
								<span> 
									<a href="index.html" class="logo2">
										<img src="img/logo2.png" alt=""><h6 style=" width: 10px; font-family: 'Cabin Sketch', cursive; color: #4c8a19;">Malima's</h6>
									</a>
								</span>
							</h3>
							
							<p class="footer-links">
								<a href="index.html">Home</a>
								·
								<a href="erro404.html">Buy</a>
								·
								<a href="erro404.html">Sell</a>
								·
								<a href="erro404.html">products</a>
								·
								<a href="erro404.html">About Us</a>
								·
								<a href="erro404.html">Contact</a>
							</p>
			
							<p class="footer-company-name">© 2018 Designed &amp; Powered by Hugo Lima</p>
						</div>
			
						<div class="footer-center">
			
							<div>
								<i class="fa fa-map-marker"></i>
								<p><span>3 Donald Street</span> Winnipeg, MB Canada</p>
							</div>
			
							<div>
								<i class="fa fa-phone"></i>
								<p>+1 204 952-8774</p>
							</div>
			
							<div>
								<i class="fa fa-envelope"></i>
								<p><a href="mailto:hlawerd@gmail.com">support@malimacar.ca</a></p>
							</div>
			
						</div>
			
						<div class="footer-right">
			
							<p class="footer-company-about">
								<span>About Malima's Car</span>
								Trust <strong>Malima's Car</strong> Vehicle Service Center for professional quality maintenance and repair services.
							</p>
			
							<div class="footer-icons">
			
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
								<a href="#"><i class="fa fa-github"></i></a>
			
							</div>
			
						</div>
			
					</footer>



		
		
	</footer>
	<!--########################## End of the FIRST footer  ##########################-->

	<!--########################## Begin footer by Developer  ##########################-->
<!-- 	<div class="footer-developer">

		<div class="footer-developer-left">
			
			<div>
				<a href="index.html" class="logo2">
					<img src="img/logo2.png" alt="">
				</a>
			</div>
			
			<div class="footer-designed">
					<p>© 2018 Designed &amp; Powered by Hugo Lima </p>
			</div>
			
		</div>

		<div class="footer-developer-right">
			<div>
				<ul class="footer-ftdeveloper-ul1">
					<li>
						<a href="#"><span aria-hidden="true" class="ei social_facebook_square"></span></a>
					</li>
					<li>
						<a href="#" class="fa fa-instagram"></a>
					</li>
					<li><!- ;margin: 0px 0 10px 10px; -->
				<!--		<a href="#" class="fa fa-facebook"></a>
					</li>
					<li><!- ;margin: 0px 0 10px 10px; -->
			<!--			<a href="#" class="fa fa-twitter"></a>
					</li>
					<li> <!-  style="display: inline-block;" -->
				<!--		<a href="#" class="fa fa-linkedin"></a>
					</li>
				</ul>
			</div>
			<div>
				<ul class="footer-ftdeveloper-ul2">
					<li style="display: inline-block; margin: 0px 0 10px 10px;"><a href="#" style="display: block;	text-decoration: none;font-size: 12px;color: #999999;text-align: center;line-height: 20px;">Home</a></li>
					<li style="display: inline-block; margin: 0px 0 10px 10px;"><a href="#" style="display: block;	text-decoration: none;font-size: 12px;color: #999999;text-align: center;line-height: 20px;">Produtos</a></li>
					<li style="display: inline-block; margin: 0px 0 10px 10px;"><a href="#" style="display: block;	text-decoration: none;font-size: 12px;color: #999999;text-align: center;line-height: 20px;">Sobre nós</a></li>
					<li style="display: inline-block; margin: 0px 0 10px 10px;"><a href="#" style="display: block;	text-decoration: none;font-size: 12px;color: #999999;text-align: center;line-height: 20px;">Contato</a></li>
				</ul>
			</div>
			
		</div>
			
	</div> -->
	<!--########################## End footer by Developer  ##########################-->

	       <!--##########################   ##########################-->
		   <script>
                var slideIndex = 1; // I have a variable starting with 1
                showSlides(slideIndex); // I have a function receiving sliceIndex
                
                function plusSlides(n) {
                  showSlides(slideIndex += n);
                }
                
                function currentSlide(n) {
                  showSlides(slideIndex = n);
                }
                
                function showSlides(n) {
                  var i;
                  var slides = document.getElementsByClassName("mySlides");
                  /* var dots = document.getElementsByClassName("dot"); */
                  if (n > slides.length) {
					  slideIndex = 1
					  }  else if (n < 1) {
					  slideIndex = slides.length
					  }
                  for (i = 0; i < slides.length; i++) {
                      slides[i].style.display = "none"; slides[i].style.backgroundImage = 'url(img/highlight.jpg)';//no idea try to rotation the photo
					  //window.alert(`teste`); // show something here what's happening
                  }
                  /* for (i = 0; i < dots.length; i++) {
                      dots[i].className = dots[i].className.replace(" active", "");
                  } */
                  slides[slideIndex-1].style.display = "block";  
				  slides[slideIndex-1].style.backgroundImage = 'url(img/slide03.jpg)';// img/highlight.jpg
                 // dots[slideIndex-1].className += " active";
                }
        </script>

	<!-- THIS SCRIPT JUST CHECK THE PRICE RANGE-->
<!-- 	<script>
			let min		= 0;
			max		= 200,000,
			step 	= 10,000,
			values	= [ 0,00, 200,000];
			let slider = document.getElementById("myRange");
			let output = document.getElementById("demo");
			output.innerHTML = parseFloat(slider.value);
	  
		   slider.oninput = function() {
			  output.innerHTML = this.value;
		   }
	  </script> -->
	  <!-- END - THIS SCRIPT JUST CHECK THE PRICE RANGE-->
</body>
</html>